.public {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-js {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    height: 1000px 
}

.video-archive-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
}
.content-box {
    width: 3800px;
    display: flex;
    align-items: center;
    gap: 60px
}

.carousel-slide {
    position: relative;
}
.carousel-text {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a transparent background */
    padding: 10px;
    border-radius: 10px;
}

.dot-pulse {
    position: relative;
    width: 15px;
    height: 15px;
    left: -9999px;
    border-radius: 5px;
    background-color: #9880ff;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
    margin: 15px;
}

.dot-pulse::before, .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
    0% {
      box-shadow: 9984px 0 0 -5px;
    }
    30% {
      box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9984px 0 0 -5px;
    }
}

@keyframes dot-pulse {
    0% {
        box-shadow: 9999px 0 0 -5px;
    }
    30% {
        box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 9999px 0 0 -5px;
    }
}

@keyframes dot-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -5px;
    }
    30% {
        box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 10014px 0 0 -5px;
    }
}