__pycache__
.checkpoints
.venv
src/*/_pycache_
videos
videos/*
.gitignore
.git
ImageBind/build
ImageBind/.vscode
ImageBind/.idea
ImageBind/.python-version
ImageBind/imagebind.egg-info
ImageBind/.DS_Store
ImageBind/CODE_OF_CONDUCT.md
ImageBind/CONTRIBUTING.md
ImageBind/LICENSE
ImageBind/model_card.md
ImageBind/.assets
ImageBind/__pycache__
ImageBind/*/__pycache__
ImageBind/.gitignore